<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/mobile.css" />
    <link rel="stylesheet" href="/css/cart.css" />
    <title>咬一口廚房</title>
  </head>
  <body>
    <div class="container">
      <header id="header-home">
        <nav id="main-nav">
          <h1><a href="/" class="logo">Just A Bite!</a></h1>
          <ul>
            <li ><a class="active" href="/game">抽個大獎</a></li>
            <li><a href="/menu">我要點餐</a></li>
            <li><a href="#">查詢訂單</a></li>
            <li><a href="/faq">常見問題</a></li>
          </ul>
        </nav>
      </header>

      <section class="shpping-list-box">
        <div class="list-title">
          <h1>購物清單</h1>
          <div class="bottom-line"></div>
        </div>
        <div class="list-body">
          <table class="list-items">
            <tr class="list-header">
              <th class="list-header-num">#</th>
              <th class="list-header-item">商品</th>
              <th class="list-header-price">價格</th>
              <th class="list-header-quantity">數量</th>
              <th class="list-header-subtotal">小計</th>
            </tr>
            <tr class="list-item">
              <td class="item-num">
                <span>1</span>
                <button>刪除</button>
                <img src="/item_images/六彩雙茄起司沙拉.png" alt="">
              </td>
              <td class="item-name">輕盈高麗卷湘南</td>
              <td class="item-price">$280</td>
              <td class="item-quantity">
                <input type="text" class="quantity" value="1" />
              </td>
              <td class="item-subtotal">$280</td>
            </tr>
          </table>
          <div class="total-amount-box">
            <div class="subtotal">
              <div >
                <div class="bottom-line-second"></div>
                <p class="subtotal-amount">小計：$920</p>
                <div class="bottom-line-second"></div>
              </div>
            </div>
            <div class="total">
              <div class="shipping-fee">
                <span class="special">購物滿1000免運！</span> 運費：$99
              </div>
              <div class="total-amount">總計：$1019</div>
            </div>
          </div>
        </div>
      </section>

      <section class="bill-info-box">

      </section>
      <section id="home-e">
        <ul>
          <li>餐館地址: 天上地下天堂路三分之一里六段520號</li>
          <li>訂位專線：02-1314-5566</li>
          <li>營業時間：週一〜週五 09:00~18:00 / 週六、週日、國定假日（含連假）休息</li>
          <li>email：service@justabite.com.tw</li>
        </ul>
        <div class="media">
          <div class="logo">Just A Bite!</div>
          <div class="medias">
            <a href="#">Facebook</a>
            /
            <a href="#">Instagram</a>
            /
            <a href="#">Youtube</a>
          </div>
        </div>
      </section>

      <footer>
        Copyright © 2020 Just A Bite All Rights Reserved. 咬一口股份有限公司版權所有
      </footer>
    </div>
  </body>
</html>
