.bottom-line-second {
  background-color: #e6e6e6;
  height: 1px;
}

.shpping-list-box {
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 60px;
}

.vertical-shpping-list-box {
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 60px;
}

.list-title h1 {
  font-size: 24px;
  margin-bottom: 25px;
}

.bottom-line {
  height: 1px;
  background-color: #bcbcbc;
  margin-bottom: 42px;
}

.list-items {
  width: 100%;
  border-spacing: 0;
}

.list-header {
  background-color: #efefef;

}

.list-header th {
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
}

tr.list-item {
  background-color: #f8f8f8;
}

.list-header-num {
  width: 20%;
}
.list-header-item{
  width: 40%;
}

.list-header-price {
  width: 20%;
}

.list-header-quantity {
  width: 10%;
}

.list-header-subtotal {
  width: 10%;
}

.item-num {
  display: flex;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 55px;
  padding-right: 110px;
  align-items: center;
}

.item-num span {
  margin-right: 70px;
}

.item-num button {
  width: 42px;
  height: 23px;
  border-radius: 3px;
  border: solid 1px #888888;
  background-color: #efefef;
  margin-right: 110px;
}

.item-num img {
  height: 80px;
  width: 80px;
  margin-right: 101px;
}



.item-quantity input {
  height: 30px;
  width: 70px;
  padding:0 15px
}



.list-header th:first-child {
  padding-left: 40px;
}

.total-amount-box {
  background-color: #f8f8f8;
}

.subtotal-amount{
  text-align: right;
  margin-right: 50px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.total {
  padding: 23px 50px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.shipping-fee {
  margin-bottom: 45px;
}

.special {
  color: #f47676;
}

.bill-info-box {
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 60px;

  
}

#create-order-form {
  padding-left: 115px;
  padding-right: 15px;
}

.input-box {
  display: flex;
  padding-bottom: 35px;
  align-items: center;

}

.buyer_name-box {
  width: 71px;
  text-align: right;
}



.input-box span {
  color: red;
}

.input-box input {
  height: 38px;
  max-width: 1476px;
  width: 100%;
  border: solid 1px #e2e2e2;
  font-size: 18px;
}

.btn-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.btn-cart {
  border: solid 1px #3f633c;
  background-color: #f1fff2;
  max-width: 184px;
  width: 100%;
  height: 46px;
  color: #3f633c;
  font-size: 16px;
  font-family: "Microsoft JhengHei";
  cursor: pointer;
}

.vertical-item-num {
  width: 80px;
  height: 80px;
}

.vertical-list-items {
  border-spacing: 0;
}

.vertical-list-items th {
  background-color: #efefef;
  padding-left: 10px;
  padding-right: 10px;
}

.vertical-list-items td {
  background-color: #f8f8f8;
  text-align: center;
}

.vertical-list-items tr {
  height: 80px;
}

.vertical-item-quantity {
  width: 100%;
}

.quantity {
  width: 50px;
}

.vertical-item-num img {
  height: 150px;
  width: 150px;
}

.vertical-item-subtotal div {
  display: flex;
  flex-direction: column;
}

.vertical-btn-cart {
  border: solid 1px #3f633c;
  background-color: #f1fff2;
  max-width: 80px;
  width: 100%;
  height: 30px;
  color: #3f633c;
  font-size: 16px;
  font-family: "Microsoft JhengHei";
  margin-left: 40px;
}

.vertical-shipping-fee span {
  display: block;
  margin-bottom: 10px;
}

.vertical-total-amount {
  margin-top: 10px;
  width: 100%;
}

.vertical-shpping-list-box {
  display: none;
}

.cart-alert {
  text-align: center;
  padding-bottom: 3rem;
}

.bill-info-box .btn-link {
  margin: 0 auto;
  display: block;
  width: 184px;
  cursor: pointer;
}