
@media (max-height: 812px) and (max-width: 400px) {
  .shpping-list-box {
    padding-left: 10px;
    padding-right: 10px;
}
 .list-items {
   display: block;
 }
 tbody {
   display: block;
 }
 .list-header {
   display: flex;
   justify-content: space-around;
 }
 .list-header th:first-child {
  padding-left: 0;
}
.list-header th {
  padding-top: 25px;
  padding-bottom: 25px;
}
.list-header-num {
  width: -5%;
}
.list-header-item {
  width: -5%;
}
.list-header-price {
  width: -5%;
}

.list-header-quantity {
  width: -5%;
}

.list-header-subtotal {
  width: -5%;
}

tr.list-item {
  display: flex;
  justify-content: space-between;
}
.item-num {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.item-num span {
  margin-right: 0px;
}

.item-num button {
  margin-right: 0px;
}

.item-num img {
  display: none;
}
}

@media (max-height: 400px) and (max-width: 812px) {
  .shpping-list-box {
    padding-left: 10px;
    padding-right: 10px;
}
  .list-items {
    display: block;
  }
  tbody {
    display: block;
  }
  .list-header {
    display: flex;
    justify-content: space-around;
  }
  .list-header th:first-child {
   padding-left: 0;
 }
 .list-header th {
   padding-top: 25px;
   padding-bottom: 25px;
 }
 .list-header-num {
   width: -5%;
 }
 .list-header-item {
   width: -5%;
 }
 .list-header-price {
   width: -5%;
 }
 
 .list-header-quantity {
   width: -5%;
 }
 
 .list-header-subtotal {
   width: -5%;
 }
 
 tr.list-item {
   display: flex;
   justify-content: space-between;
 }
 .item-num {
   padding-left: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-right: 0px;
 }
 
 .item-num span {
   margin-right: 0px;
 }
 
 .item-num button {
   margin-right: 0px;
 }
 
 .item-num img {
   display: none;
 }
}


@media (max-height: 800px) and (max-width: 450px) {
  .shpping-list-box {
    padding-left: 10px;
    padding-right: 10px;
}
  .list-items {
    display: block;
  }
  tbody {
    display: block;
  }
  .list-header {
    display: flex;
    justify-content: space-around;
  }
  .list-header th:first-child {
   padding-left: 0;
 }
 .list-header th {
   padding-top: 25px;
   padding-bottom: 25px;
 }
 .list-header-num {
   width: -5%;
 }
 .list-header-item {
   width: -5%;
 }
 .list-header-price {
   width: -5%;
 }
 
 .list-header-quantity {
   width: -5%;
 }
 
 .list-header-subtotal {
   width: -5%;
 }
 
 tr.list-item {
   display: flex;
   justify-content: space-between;
 }
 .item-num {
   padding-left: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-right: 0px;
 }
 
 .item-num span {
   margin-right: 0px;
 }
 
 .item-num button {
   margin-right: 0px;
 }
 
 .item-num img {
   display: none;
 }

}

@media (max-height: 450px) and (max-width: 800px) {
  .shpping-list-box {
    padding-left: 10px;
    padding-right: 10px;
}
  .list-items {
    display: block;
  }
  tbody {
    display: block;
  }
  .list-header {
    display: flex;
    justify-content: space-around;
  }
  .list-header th:first-child {
   padding-left: 0;
 }
 .list-header th {
   padding-top: 25px;
   padding-bottom: 25px;
 }
 .list-header-num {
   width: -5%;
 }
 .list-header-item {
   width: -5%;
 }
 .list-header-price {
   width: -5%;
 }
 
 .list-header-quantity {
   width: -5%;
 }
 
 .list-header-subtotal {
   width: -5%;
 }
 
 tr.list-item {
   display: flex;
   justify-content: space-between;
 }
 .item-num {
   padding-left: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-right: 0px;
 }
 
 .item-num span {
   margin-right: 0px;
 }
 
 .item-num button {
   margin-right: 0px;
 }
 
 .item-num img {
   display: none;
 }

}

@media (max-height: 570px) and (max-width: 330px) {
  .shpping-list-box {
    padding-left: 10px;
    padding-right: 10px;
}
  .list-items {
    display: block;
  }
  tbody {
    display: block;
  }
  .list-header {
    display: flex;
    justify-content: space-around;
  }
  .list-header th:first-child {
   padding-left: 0;
 }
 .list-header th {
   padding-top: 25px;
   padding-bottom: 25px;
 }
 .list-header-num {
   width: -5%;
 }
 .list-header-item {
   width: -5%;
 }
 .list-header-price {
   width: -5%;
 }
 
 .list-header-quantity {
   width: -5%;
 }
 
 .list-header-subtotal {
   width: -5%;
 }
 
 tr.list-item {
   display: flex;
   justify-content: space-between;
 }
 .item-num {
   padding-left: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-right: 0px;
 }
 
 .item-num span {
   margin-right: 0px;
 }
 
 .item-num button {
   margin-right: 0px;
 }
 
 .item-num img {
   display: none;
 }

}
